.avatar-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding-right: 20px;
    overflow: hidden;
    position: relative;
}
.avatar-profile i{
    font-size: 24px;
    color: #012970;
    cursor: pointer;
}

.avatar-profile a{
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
    padding-left: 10px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}