.switch-section {
    padding: 20px;
}

.card-switch {
    max-width: 500px;
    /* padding: 20px; */
    transition: transform 0.2s ease-in-out;
}

.switch-container {
    padding: 10px 0;

}

.icon {
    font-size: 30px;
}

.error-message {
    font-size: 14px;
    font-weight: bold;
}

.card-switch:hover {
    transform: scale(1.02)
}

@keyframes temperature-animation {
    0% {
        transform: scale(1);
        color: #ff4e42;
    }

    50% {
        transform: scale(1.2);
        color: #f00;
    }

    100% {
        transform: scale(1);
        color: #ff4e42;
    }
}

@keyframes fan-on-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon-light-active {
    color: rgba(255, 255, 204, 1); /* Initial icon color */
    animation: light-icon-animation 1.5s ease-in-out infinite,
               icon-color-change 1.5s ease-in-out infinite;
}

/* Keyframe animation for glowing effect on icon */
@keyframes light-icon-animation {
    0%, 100% {
        text-shadow: 0 0 10px rgba(255, 255, 204, 0.8), 0 0 20px rgba(255, 255, 204, 0.6);
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 204, 1), 0 0 30px rgba(255, 255, 204, 0.9);
    }
}

/* Keyframe animation for changing the icon color */
@keyframes icon-color-change {
    0%, 100% {
        color: rgba(255, 255, 204, 1); /* Yellow */
    }
    33% {
        color: rgba(238, 201, 145, 0.897); /* Orange */
    }
    66% {
        color: rgba(89, 240, 240, 0.829); /* Light Blue */
    }
}

.icon-temperature-active {
    animation: temperature-animation 1s ease-in-out infinite;
}

.icon-fan-active {
    animation: fan-on-animation 2s linear infinite;
}